@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  display: flex;
  margin: 1rem;
  overflow-x: none;
}
.homepage-icon {
  height: 70px;
  width: 70px;
}
.homepage-avatar {
  display: flex;
}

:root {
  --text-purple: #6e62e5;
  --text-grey: #b9bec4;
  --text-grey-v2: #a4aab2;
  --text-grey-border: #f3f3f3;
  --text-green: #82db9b;
}

.text-purple {
  color: var(--text-purple);
}
.text-grey {
  color: var(--text-grey);
}
.text-grey-v2 {
  color: var(--text-grey-v2);
}
